################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClassRoomExamples/9-18_example/9-18_example/.vs/9-18_example/v16/Server/sqlite3
